@media screen and (min-width: 390px) {
  .css-go7q8e-MuiButtonBase-root-MuiButton-root {
    margin-right: 20%;
  }
  .css-1ws7d5v-MuiButtonBase-root-MuiButton-root {
    margin-right: 20%;
  }
  .css-c8d7fb-MuiStack-root {
    margin-left: -55px;
  }
}
