#root {
   position: static;
   background: no-repeat;
   font-family: "Montserrat", sans-serif;
   width: 100vw;
   height: 100vh;
}

.main-post-title {
   color: black;
   font-size: 64px;
   font-family: "Raleway", sans-serif;
   font-weight: 600px;
}
